
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAgendaLabel" translate="tmcApp.agenda.home.createOrEditLabel">Create or edit a Agenda</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="agenda.id" readonly>
        </div>
        <div class="form-group">
            <label translate="tmcApp.agenda.data" for="field_data">Data</label>
            <input type="date" class="form-control" name="data" id="field_data"
                    ng-model="agenda.data"
                    required>
            <div ng-show="editForm.data.$invalid">
                <p class="help-block"
                    ng-show="editForm.data.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.agenda.horaInicio" for="field_horaInicio">HoraInicio</label>
            <input type="text" class="form-control" name="horaInicio" id="field_horaInicio"
                    ng-model="agenda.horaInicio"
                    required>
            <div ng-show="editForm.horaInicio.$invalid">
                <p class="help-block"
                    ng-show="editForm.horaInicio.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.agenda.horaFim" for="field_horaFim">HoraFim</label>
            <input type="text" class="form-control" name="horaFim" id="field_horaFim"
                    ng-model="agenda.horaFim"
                    required>
            <div ng-show="editForm.horaFim.$invalid">
                <p class="help-block"
                    ng-show="editForm.horaFim.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="tmcApp.agenda.morador" for="field_morador">morador</label>
            <select class="form-control" id="field_morador" name="morador" ng-model="agenda.morador" ng-options="morador as morador.nome for morador in moradors track by morador.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="tmcApp.agenda.dependencia" for="field_dependencia">dependencia</label>
            <select class="form-control" id="field_dependencia" name="dependencia" ng-model="agenda.dependencia" ng-options="dependencia as dependencia.nome for dependencia in dependencias track by dependencia.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
