
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEnderecoLabel" translate="tmcApp.endereco.home.createOrEditLabel">Create or edit a Endereco</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="endereco.id" readonly>
        </div>
        <div class="form-group">
            <label translate="tmcApp.endereco.logradouro" for="field_logradouro">Logradouro</label>
            <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                    ng-model="endereco.logradouro"
                    required>
            <div ng-show="editForm.logradouro.$invalid">
                <p class="help-block"
                    ng-show="editForm.logradouro.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.endereco.numero" for="field_numero">Numero</label>
            <input type="number" class="form-control" name="numero" id="field_numero"
                    ng-model="endereco.numero"
                    required>
            <div ng-show="editForm.numero.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numero.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.endereco.bairro" for="field_bairro">Bairro</label>
            <input type="text" class="form-control" name="bairro" id="field_bairro"
                    ng-model="endereco.bairro"
                    >
        </div>
        <div class="form-group">
            <label translate="tmcApp.endereco.cidade" for="field_cidade">Cidade</label>
            <input type="text" class="form-control" name="cidade" id="field_cidade"
                    ng-model="endereco.cidade"
                    required>
            <div ng-show="editForm.cidade.$invalid">
                <p class="help-block"
                    ng-show="editForm.cidade.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.endereco.uf" for="field_uf">Uf</label>
            <select class="form-control" name="uf" ng-model="endereco.uf" id="field_uf">
                <option value="SP" translate="tmcApp.Uf.SP">SP</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
