<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tell Me Condominium</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="${user.login}"></p>
        <p>
            Seu cadastro foi ativado com sucesso!
        </p>
        <p>
            Para entrar no sistema, <a th:href="@{|${baseUrl}/#/login|}">clique aqui.</a>
        </p>
        <p>
            Att,
            <p>
                <em>Equipe Tell Me Condominium.</em>
            </p>
        </p>
    </body>
</html>
