<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tell Me Condominium</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h3>
            Novo usuário cadastrado:
        </h3>
        <ul>
            <li>
                <span th:text="${user.login}" />
            </li>
            <li>
                <span th:text="${condominio.razaoSocial}" />
            </li>
            <li>
                <span th:text="${user.email}" />
            </li>
        </ul>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Ativar</a>
        </p>
    </body>
</html>
