<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tell Me Condominium</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="${user.firstName}">
        </p>
        <p th:text="#{email.reset.text1}">
            For your JHipster account a password reset was requested, please click on the URL below to reset it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Nova Senha</a>
        </p>
        <p>
            Att,
            <p>
                <em>Equipe Tell Me Condominium.</em>
            </p>
        </p>
    </body>
</html>
