<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tell Me Condominium</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h3>
            O tópico <strong>"<span th:text="${topico.titulo}" />"</strong> foi <i><span th:text="${topico.statusTopico.descricao}" /></i> pelo administrador do sistema!
        </h3>
        <ul>
            <li>
                Assunto: <span th:text="${topico.assunto.descricao}" />
            </li>
            <li>
                Categoria: <span th:text="${topico.categoria.descricao}" />
            </li>
            <li>
                Conteudo: <span th:text="${topico.descricao}" />
            </li>
            <li>
                Observação: <span th:text="${comentario.conteudo}" />
            </li>
        </ul>
        <p>
            Acesse o sistema, <a th:href="@{|${baseUrl}/#/login|}">clicando aqui</a>
        </p>
        <p>
            Att,
        <p>
            <em>Equipe Tell Me Condominium.</em>
        </p>
        </p>
    </body>
</html>
