<div>
    <h2 translate="tmcApp.assunto.home.title">Assuntos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <button class="btn btn-primary" ui-sref="assunto.new">
                <span class="glyphicon glyphicon-flash"></span> <span translate="tmcApp.assunto.home.createLabel">Create a new Assunto</span>
            </button>
        </div>
    </div>

    <div class="modal fade" id="deleteAssuntoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(assunto.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="tmcApp.assunto.delete.question" translate-values="{id: '{{assunto.id}}'}">Are you
                            sure you want to delete this Assunto?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
	
	<br/>
    <div class="input-group" >
        <span class="input-group-addon" id="basic-addon1"><spam class="glyphicon glyphicon-search"></spam></span>
        <input type="search" class="form-control" id="search" placeholder="Assunto..." ng-model="searchText">
	</div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="global.field.id">ID</th>
                <th>Assuntos</th>
                <th>Categorias</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="assunto in assuntos  | filter:searchText">
                <td>{{assunto.id}}</td>
                <td>{{assunto.descricao}}</td>
                <td>
                    <div ng-repeat="categoria in assunto.categorias">
                        <span class="form-control-static">{{categoria.descricao}}</span>
                    </div>
                </td>
                <td>
                    <button type="submit"
                            ui-sref="assunto.edit({id:assunto.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(assunto.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
