
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCondominioLabel" translate="tmcApp.condominio.home.createOrEditLabel">Create or edit a Condominio</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="condominio.id" readonly>
        </div>
        <div class="form-group">
            <label translate="tmcApp.condominio.razaoSocial" for="field_razaoSocial">RazaoSocial</label>
            <input type="text" class="form-control" name="razaoSocial" id="field_razaoSocial"
                    ng-model="condominio.razaoSocial"
                    required>
            <div ng-show="editForm.razaoSocial.$invalid">
                <p class="help-block"
                    ng-show="editForm.razaoSocial.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.condominio.cnpj" for="field_cnpj">Cnpj</label>
            <input type="text" class="form-control" name="cnpj" id="field_cnpj"
                    ng-model="condominio.cnpj"
                    required ng-pattern="/([0-9]{2}[.]?[0-9]{3}[.]?[0-9]{3}[/]?[0-9]{4}[-]?[0-9]{2})/">
            <div ng-show="editForm.cnpj.$invalid">
                <p class="help-block"
                    ng-show="editForm.cnpj.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.cnpj.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="([0-9]{2}[.]?[0-9]{3}[.]?[0-9]{3}[/]?[0-9]{4}[-]?[0-9]{2})">
                    This field should follow pattern "([0-9]{2}[.]?[0-9]{3}[.]?[0-9]{3}[/]?[0-9]{4}[-]?[0-9]{2})".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.condominio.ativo" for="field_ativo">Ativo</label>
            <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                    ng-model="condominio.ativo"
                    >
        </div>
        <div class="form-group">
            <label translate="tmcApp.condominio.dataCadastro" for="field_dataCadastro">DataCadastro</label>
            <input type="datetime-local" class="form-control" name="dataCadastro" id="field_dataCadastro"
                    ng-model="condominio.dataCadastro" ng-model-options="{timezone: 'UTC'}"
                    required>
            <div ng-show="editForm.dataCadastro.$invalid">
                <p class="help-block"
                    ng-show="editForm.dataCadastro.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dataCadastro.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.condominio.telefone" for="field_telefone">Telefone</label>
            <input type="number" class="form-control" name="telefone" id="field_telefone"
                    ng-model="condominio.telefone"
                    >
        </div>

        <div class="form-group">
            <label translate="tmcApp.condominio.endereco" for="field_endereco">endereco</label>
            <select class="form-control" id="field_endereco" name="endereco" ng-model="condominio.endereco" ng-options="endereco as endereco.id for endereco in enderecos | orderBy:'id' track by endereco.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
