<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCondominioLabel" translate="tmcApp.condominio.home.createOrEditLabel">Create or
            edit a Condominio</h4>
    </div>

    <div class="modal-body">

        <div class="container">

            <div class="row">
                <div class="form-group col-md-8" ng-hide="condominio.id == null">
                    <label for="id" translate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           ng-model="condominio.id" readonly>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label translate="tmcApp.condominio.razaoSocial" for="field_razaoSocial">RazaoSocial</label>
                    <input type="text" class="form-control" name="razaoSocial" id="field_razaoSocial"
                           ng-model="condominio.razaoSocial" required>

                    <div ng-show="editForm.razaoSocial.$invalid">
                        <p class="help-block" ng-show="editForm.razaoSocial.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label translate="tmcApp.condominio.cnpj" for="field_cnpj">Cnpj</label>
                    <input type="text" class="form-control" name="cnpj" id="field_cnpj" ng-model="condominio.cnpj"
                           ui-mask="99.999.999/9999-99"
                           required>

                    <div ng-show="editForm.cnpj.$invalid">
                        <p class="help-block" ng-show="editForm.cnpj.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="field_telefone1">Telefone 1</label>
                    <input type="text" class="form-control" name="telefone_1" id="field_telefone1"
                           ng-model="condominio.telefone1.numero" ui-mask="(99) 9999-9999">
                </div>
                <div class="form-group col-md-4">
                    <label for="field_telefone2">Telefone 2</label>
                    <input type="text" class="form-control" name="telefone_2" id="field_telefone2"
                           ng-model="condominio.telefone2.numero" ui-mask="(99) 9999-9999">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label translate="tmcApp.condominio.disposicao" for="field_disposicao">Disposicao</label>
                    <select class="form-control" name="disposicao" ng-model="condominio.disposicao"
                            id="field_disposicao" required>
                        <option value="VERTICAL" translate="tmcApp.Disposicao.VERTICAL">VERTICAL</option>
                        <option value="HORIZONTAL" translate="tmcApp.Disposicao.HORIZONTAL">HORIZONTAL</option>
                        <option value="HIBRIDO" translate="tmcApp.Disposicao.HIBRIDO">HIBRIDO</option>
                    </select>

                    <div ng-show="editForm.cnpj.$invalid">
                        <p class="help-block" ng-show="editForm.cnpj.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label translate="tmcApp.cep.cep" for="field_cep">Cep</label>
                    <input type="text" class="form-control" name="cep" id="field_cep"
                           ng-model="condominio.condominioCep"
                           ui-mask="99999-999"
                           ng-blur="buscaCepCondominio(condominio.condominioCep)"
                           required>

                    <div ng-show="editForm.cep.$invalid">
                        <p class="help-block" ng-show="editForm.cep.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-4">
                    <label translate="tmcApp.cep.logradouro" for="field_logradouro">Logradouro</label>
                    <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                           ng-model="condominio.condominioLogradouro" disabled>

                    <div ng-show="editForm.logradouro.$invalid">
                        <p class="help-block" ng-show="editForm.logradouro.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label translate="tmcApp.cep.bairro" for="field_bairro">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="field_bairro"
                           ng-model="condominio.condominioBairro" disabled>

                    <div ng-show="editForm.bairro.$invalid">
                        <p class="help-block" ng-show="editForm.bairro.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label translate="tmcApp.cep.cidade" for="field_cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="field_cidade"
                           ng-model="condominio.condominioCidade" disabled>

                    <div ng-show="editForm.cidade.$invalid">
                        <p class="help-block" ng-show="editForm.cidade.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label translate="tmcApp.cep.uf" for="field_uf">Uf</label>
                    <input type="text" class="form-control" name="uf" id="field_uf" ng-model="condominio.condominioUf"
                           disabled>

                    <div ng-show="editForm.uf.$invalid">
                        <p class="help-block" ng-show="editForm.uf.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label translate="tmcApp.condominio.numero" for="field_numero">Número</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                           ng-model="condominio.condominioNumero" required>

                    <div ng-show="editForm.numero.$invalid">
                        <p class="help-block" ng-show="editForm.numero.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label translate="tmcApp.condominio.complemento" for="field_complemento">Complemento</label>
                    <input type="text" class="form-control" name="bairro" id="field_complemento"
                           ng-model="condominio.condominioComplemento">

                    <div ng-show="editForm.complemento.$invalid">
                        <p class="help-block" ng-show="editForm.complemento.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
