<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myFuncionarioLabel" translate="tmcApp.funcionario.home.title">Funcionario</h4>
    </div>

    <div class="modal-body">

        <jh-alert-error></jh-alert-error>

        <div class="container">

            <div class="row">
                <div class="form-group col-md-8">
                    <div class="form-group">
                        <label translate="tmcApp.funcionario.nome" for="field_nome">Nome</label>
                        <input type="text" class="form-control" name="nome" id="field_nome"
                               ng-model="funcionario.nome"
                               required>

                        <div ng-show="editForm.nome.$invalid">
                            <p class="help-block" ng-show="editForm.nome.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label translate="tmcApp.funcionario.cpf" for="field_cpf">Cpf</label>
                        <input type="text" class="form-control" name="cpf" id="field_cpf"
                               ng-model="funcionario.cpf"
                               ui-mask="999.999.999-99"
                               required>

                        <div ng-show="editForm.cpf.$invalid">
                            <p class="help-block" ng-show="editForm.cpf.$error.required"
                               translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label translate="tmcApp.funcionario.sexo" for="field_sexo">Sexo</label>
                        <select class="form-control" name="sexo" ng-model="funcionario.sexo" id="field_sexo">
                            <option value="M" translate="tmcApp.Sexo.M">M</option>
                            <option value="F" translate="tmcApp.Sexo.F">F</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-8">
                    <div class="form-group">
                        <label translate="tmcApp.funcionario.dataNascimento"
                               for="field_dataNascimento">DataNascimento</label>
                        <input type="date" class="form-control" name="dataNascimento" id="field_dataNascimento"
                               ng-model="funcionario.dataNascimento" ng-model-options="{timezone: 'UTC'}"
                               required>

                        <div ng-show="editForm.dataNascimento.$invalid">
                            <p class="help-block"
                               ng-show="editForm.dataNascimento.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>

                            <p class="help-block"
                               ng-show="editForm.dataNascimento.$error.datetimelocal"
                               translate="entity.validation.datetimelocal">
                                This field should be a date and time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label translate="tmcApp.funcionario.email" for="field_email">Email</label>
                        <input type="text" class="form-control" name="email" id="field_email"
                               ng-model="funcionario.email"
                               required>

                        <div ng-show="editForm.email.$invalid">
                            <p class="help-block"
                               ng-show="editForm.email.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label translate="tmcApp.funcionario.senha" for="field_senha">Senha</label>
                        <input type="password" class="form-control" name="senha" id="field_senha"
                               ng-model="funcionario.senha"
                               required>

                        <div ng-show="editForm.senha.$invalid">
                            <p class="help-block"
                               ng-show="editForm.senha.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-8">
                    <label translate="tmcApp.cep.cep" for="field_responsavel_cep">Cep</label>
                    <input type="text" class="form-control" name="cep" id="field_responsavel_cep"
                           ng-model="funcionario.cep"
                           ui-mask="99999-999"
                           ng-blur="buscaCep(funcionario.cep)" required>

                    <div ng-show="editForm.cep.$invalid">
                        <p class="help-block" ng-show="editForm.cep.$error.required"
                           translate="entity.validation.required">
                            This field is required.
                        </p>

                        <p class="help-block" ng-show="editForm.cep.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label translate="tmcApp.cep.logradouro" for="field_responsavel_logradouro">Logradouro</label>
                    <input type="text" class="form-control" name="logradouro" id="field_responsavel_logradouro"
                           ng-model="funcionario.logradouro" disabled>
                </div>

                <div class="form-group col-md-4">
                    <label translate="tmcApp.cep.bairro" for="field_responsavel_bairro">Bairro</label>
                    <input type="text" class="form-control" name="bairro" id="field_responsavel_bairro"
                           ng-model="funcionario.bairro" disabled>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label translate="tmcApp.cep.cidade" for="field_responsavel_cidade">Cidade</label>
                    <input type="text" class="form-control" name="cidade" id="field_responsavel_cidade"
                           ng-model="funcionario.cidade" disabled>
                </div>

                <div class="form-group col-md-4">
                    <label translate="tmcApp.cep.uf" for="field_responsavel_uf">Uf</label>
                    <input type="text" class="form-control" name="uf" id="field_responsavel_uf"
                           ng-model="funcionario.uf" disabled>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label translate="tmcApp.funcionario.numero" for="field_responsavel_numero">Número</label>
                    <input type="number" class="form-control" name="numero" id="field_responsavel_numero"
                           ng-model="funcionario.numero">
                </div>
                <div class="form-group col-md-4">
                    <label translate="tmcApp.funcionario.complemento"
                           for="field_responsavel_complemento">Complemento</label>
                    <input type="text" class="form-control" name="bairro" id="field_responsavel_complemento"
                           ng-model="funcionario.complemento">
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>

</form>
