<div>
    <h2 translate="tmcApp.funcionario.home.title">Funcionarios</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="funcionario.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="tmcApp.funcionario.home.createLabel">Create a new Funcionario</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteFuncionarioConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(funcionario.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="tmcApp.funcionario.delete.question" translate-values="{id: '{{funcionario.id}}'}">Are you sure you want to delete this Funcionario?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="tmcApp.funcionario.nome">Nome</th>
                    <th translate="tmcApp.funcionario.cpf">Cpf</th>
                    <th translate="tmcApp.funcionario.sexo">Sexo</th>
                    <th translate="tmcApp.funcionario.dataNascimento">DataNascimento</th>
                    <th translate="tmcApp.funcionario.email">Email</th>
                    <th translate="tmcApp.funcionario.senha">Senha</th>
                    <th translate="tmcApp.funcionario.ativo">Ativo</th>
                    <th translate="tmcApp.funcionario.dataCadastro">DataCadastro</th>
                    <th translate="tmcApp.funcionario.numero">Numero</th>
                    <th translate="tmcApp.funcionario.complemento">Complemento</th>
                    <th translate="tmcApp.funcionario.responsavel">Responsavel</th>
                    <th translate="tmcApp.funcionario.cep">cep</th>
                    <th translate="tmcApp.funcionario.condominio">condominio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="funcionario in funcionarios">
                    <td><a ui-sref="funcionario.detail({id:funcionario.id})">{{funcionario.id}}</a></td>
                    <td>{{funcionario.nome}}</td>
                    <td>{{funcionario.cpf}}</td>
                    <td translate="{{'tmcApp.Sexo.' + funcionario.sexo}}">{{funcionario.sexo}}</td>
                    <td>{{funcionario.dataNascimento}}</td>
                    <td>{{funcionario.email}}</td>
                    <td>{{funcionario.senha}}</td>
                    <td>{{funcionario.ativo}}</td>
                    <td>{{funcionario.dataCadastro}}</td>
                    <td>{{funcionario.numero}}</td>
                    <td>{{funcionario.complemento}}</td>
                    <td>{{funcionario.responsavel}}</td>
                    <td>
                        <a ui-sref="cep.detail({id:funcionario.cep.id})">{{funcionario.cep.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="condominio.detail({id:funcionario.condominio.id})">{{funcionario.condominio.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="funcionario.detail({id:funcionario.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="funcionario.edit({id:funcionario.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(funcionario.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
