<div>
    <h2 translate="tmcApp.disponibilidadeDependencia.home.title">DisponibilidadeDependencias</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="disponibilidadeDependencia.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="tmcApp.disponibilidadeDependencia.home.createLabel">Create a new DisponibilidadeDependencia</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDisponibilidadeDependenciaConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(disponibilidadeDependencia.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="tmcApp.disponibilidadeDependencia.delete.question" translate-values="{id: '{{disponibilidadeDependencia.id}}'}">Are you sure you want to delete this DisponibilidadeDependencia?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="tmcApp.disponibilidadeDependencia.diaSemana">DiaSemana</th>
                    <th translate="tmcApp.disponibilidadeDependencia.horaInicio">HoraInicio</th>
                    <th translate="tmcApp.disponibilidadeDependencia.horaFim">HoraFim</th>
                    <th translate="tmcApp.disponibilidadeDependencia.dependencia">dependencia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="disponibilidadeDependencia in disponibilidadeDependencias">
                    <td><a ui-sref="disponibilidadeDependencia.detail({id:disponibilidadeDependencia.id})">{{disponibilidadeDependencia.id}}</a></td>
                    <td>{{disponibilidadeDependencia.diaSemana}}</td>
                    <td>{{disponibilidadeDependencia.horaInicio}}</td>
                    <td>{{disponibilidadeDependencia.horaFim}}</td>
                    <td>
                        <a ui-sref="dependencia.detail({id:disponibilidadeDependencia.dependencia.id})">{{disponibilidadeDependencia.dependencia.nome}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="disponibilidadeDependencia.detail({id:disponibilidadeDependencia.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="disponibilidadeDependencia.edit({id:disponibilidadeDependencia.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(disponibilidadeDependencia.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
