
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myImovelLabel" translate="tmcApp.imovel.home.createOrEditLabel">Create or edit a Imovel</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="imovel.id" readonly>
        </div>
        <div class="form-group">
            <label translate="tmcApp.imovel.ruaBloco" for="field_ruaBloco">RuaBloco</label>
            <input type="text" class="form-control" name="ruaBloco" id="field_ruaBloco"
                    ng-model="imovel.ruaBloco"
                    required>
            <div ng-show="editForm.ruaBloco.$invalid">
                <p class="help-block"
                    ng-show="editForm.ruaBloco.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.imovel.numero" for="field_numero">Numero</label>
            <input type="number" class="form-control" name="numero" id="field_numero"
                    ng-model="imovel.numero"
                    required>
            <div ng-show="editForm.numero.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numero.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="tmcApp.imovel.morador" for="field_morador">morador</label>
            <select class="form-control" id="field_morador" name="morador" ng-model="imovel.morador" ng-options="morador as morador.nome for morador in moradors track by morador.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
