
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myConvidadoLabel" translate="tmcApp.convidado.home.createOrEditLabel">Create or edit a Convidado</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="convidado.id" readonly>
        </div>
        <div class="form-group">
            <label translate="tmcApp.convidado.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="convidado.nome"
                    required>
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.convidado.cpf" for="field_cpf">Cpf</label>
            <input type="text" class="form-control" name="cpf" id="field_cpf"
                    ng-model="convidado.cpf"
                    >
        </div>
        <div class="form-group">
            <label translate="tmcApp.convidado.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="convidado.email"
                    >
        </div>

        <div class="form-group">
            <label translate="tmcApp.convidado.agenda" for="field_agenda">agenda</label>
            <select class="form-control" id="field_agenda" name="agenda" ng-model="convidado.agenda" ng-options="agenda as agenda.data for agenda in agendas track by agenda.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
