<div>

    <div class="modal fade" id="deleteComentarioByFuncionario">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteFormByFuncionario" ng-submit="confirmDeleteFuncionario(comentario.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Deseja realmente remover esse comentário?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Sim</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteComentarioByMorador">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteFormByMorador" ng-submit="confirmDeleteMorador(comentario.id)" novalidate
                      show-validation>
                    <jh-alert-error></jh-alert-error>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Solicitação de remoção de comentário</h4>
                    </div>
                    <div class="modal-body">
                        <p>Uma solicitação de remoção de comentário será enviada ao administrador.
                            <br/> Informe o motivo e aperte o botão "Solicitar" para confirmar a operação.
                        </p>
                        <div class="form-group">
                            <label for="field_motivo">Motivo</label>
                            <textarea class="form-control" name="motivo" id="field_motivo" ng-model="motivo"
                                      maxlength="500" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteFormByMorador.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Solicitar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteComentarioByMoradorConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title">Solicitação de Remoção</h4>
                </div>
                <div class="modal-body">
                    <p>Sua solicitação para removação deste comentário foi enviada com sucesso!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <p class="lead text-primary">Fórum {{account.condominio}} - Comentários</p>

		<div class="row">
            <div class="form-group col-md-10">
                <p>
                	<label>Título:</label>
                	<spam class="text-info">{{topico.titulo}}</spam>
           		 </p>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-10">
                <p>
                	<label>Categoria:</label>
                	<spam class="text-info">{{topico.categoria.descricao}}</spam>
           		 </p>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-10">
                <p>
                	<label>Assunto:</label>
                	<spam class="text-info">{{topico.assunto.descricao}}</spam>
           		 </p>
            </div>
        </div>
		

        <div class="row">
            <div class="form-group col-md-10">
                <p>
                	<label>Conteúdo:</label><br/>
                	<spam class="text-info">{{topico.descricao}}</spam>
           		 </p>
            </div>
            <div class="form-group col-md-2 text-right">
                <small class="text-danger">Comentarios: {{comentarios.length}}</small>
            </div>
        </div>

        <div class="row"
             ng-show="(['ABERTO'].indexOf(topico.statusTopico) > -1) && ['ROLE_ADMIN','ROLE_ADMIN_CONDOMINIO', 'ROLE_FUNCIONARIO'].indexOf(account.authorities[0]) > -1">
            <div class="form-group col-md-12 text-right">
                <a ui-sref="topico.encerrar({id:topico.id})">Encerrar</a>
            </div>
        </div>

        <div id="comentarios" class="well pre-scrollable">

            <div ng-repeat="comentario in comentarios">

                <dl class="dl-horizontal">
                    <dt>{{comentario.funcionario.nome ? comentario.funcionario.nome : comentario.morador.nome}}</dt>
                    <dd class="ellipsis-text">{{comentario.conteudo}}</dd>
                    <dd>
                        <div class="col-md-0">
                            <small><cite>Escrito em {{comentario.data | date:'dd/MM/yyyy - HH:mm:ss'}}</cite></small>
                            <div ng-show="(['ABERTO'].indexOf(topico.statusTopico) > -1)">
                                <small ng-show="comentario.solicitacaoJaExiste">
                                    <a ng-click="delete(comentario.id)"> <span class="glyphicon glyphicon-floppy-remove"></span></a>
                                </small>
                                <small ng-hide="comentario.solicitacaoJaExiste">
                                    <i>Existe uma solicitação para remoção deste comentário</i>
                                </small>
                            </div>
                        </div>
                    </dd>
                </dl>

                <hr/>

            </div>

        </div>

        <footer>

            <div class="row" ng-show="(['ABERTO'].indexOf(topico.statusTopico) > -1)">

                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="form-group col-md-10">
                        <textarea class="form-control" rows="3" ng-model="comentario.conteudo"/>
                    </div>

                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;<span> Enviar</span>
                        </button>
                    </div>

                </form>

            </div>

            <button type="submit" ui-sref="topico" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Voltar</span>
            </button>

            <br/>

        </footer>

    </div>


</div>
