<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTopicoLabel">Encerramento de Tópico</h4>
    </div>

    <div class="modal-body">

        <jh-alert-error></jh-alert-error>

        <div class="form-group">
            <p>
                <label>Assunto:</label>
                <spam class="text-info">{{topico.assunto.descricao}}</spam>
            </p>
            <p>
                <label>Categoria:</label>
                <spam class="text-info">{{topico.categoria.descricao}}</spam>
            </p>
            <p>
                <label>Título:</label>
                <spam class="text-info">{{topico.titulo}}</spam>
            </p>
            <p>
                <label>Conteudo:</label>
                <spam class="text-info">{{topico.descricao}}</spam>
            </p>
            <div class="well">
                <label>Teve solução?</label>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="SIM" value="SIM" ng-model="solucao"> Sim
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="NAO" value="NAO" ng-model="solucao"> Não
                    </label>
                </div>
            </div>
            <label for="field_mensagem">Observação</label>
            <textarea class="form-control" name="descricao" id="field_mensagem" ng-model="observacao" maxlength="2000" required />
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-info">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Encerrar</span>
        </button>
    </div>

</form>
