<div>

    <div class="container">

        <jh-alert></jh-alert>

        <p class="lead text-primary">Fórum {{account.condominio}} - Tópicos</p>

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="topico.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="tmcApp.topico.home.createLabel">Create a new Topico</span>
                </button>
            </div>
        </div>

        <br/>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><spam class="glyphicon glyphicon-search"></spam></span>
            <input type="search" class="form-control" id="search" placeholder="Parâmetros da busca"
                   ng-model="searchText">
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Tópico</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="topico in topicos | filter:searchText" ng-class="{'warning': topico.recomendado}">
                    <td>
                        <p ng-show="topico.recomendado">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            <small><i> Leitura recomendada</i></small>
                        </p>
                        <strong>Categoria: {{topico.categoria.descricao}}</strong><br/>
                        <strong>Assunto: {{topico.assunto.descricao}}</strong><br/>
                        <strong>Título: {{topico.titulo}}</strong>
                    </td>
                    <td>
                        <small>{{topico.descricao | limitTo: 50}}
                            <a ui-sref="topico.comentarios({id:topico.id})"
                               ng-show="(['ABERTO','ENCERRADO','ENCERRADO_COM_SUCESSO','ENCERRADO_SEM_SUCESSO'].indexOf(topico.statusTopico) > -1)">...</a>
                        </small>
                    </td>
                    <td>
                        <small>{{topico.categoria.descricao}}</small>
                    </td>
                    <td>
                        <small>{{topico.data | date:'dd/MM/yyyy - HH:mm:ss'}}</small>
                    </td>
                    <td>
                        <small>{{getDescricaoStatusTopico(topico.statusTopico)}}</small>
                    </td>
                    <td>
                        <small><a ui-sref="topico.comentarios({id:topico.id})"
                                  ng-show="(['ABERTO','ENCERRADO','ENCERRADO_COM_SUCESSO','ENCERRADO_SEM_SUCESSO'].indexOf(topico.statusTopico) > -1)">Comentários</a>
                        </small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr/>

        <p class="lead text-center text-primary">Encerrados</p>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="topico in encerrados | filter:searchText" ng-class="{'warning': topico.recomendado}">
                    <td>
                        <p ng-show="topico.recomendado">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            <small><i> Leitura recomendada</i></small>
                        </p>
                        <strong>Categoria: {{topico.categoria.descricao}}</strong><br/>
                        <strong>Assunto: {{topico.assunto.descricao}}</strong><br/>
                        <strong>Título: {{topico.titulo}}</strong>
                    </td>
                    <td>
                        <small>{{topico.descricao | limitTo: 50}}
                            <a ui-sref="topico.comentarios({id:topico.id})"
                               ng-show="(['ABERTO','ENCERRADO','ENCERRADO_COM_SUCESSO','ENCERRADO_SEM_SUCESSO'].indexOf(topico.statusTopico) > -1)">...</a>
                        </small>
                    </td>
                    <td>
                        <small>{{topico.categoria.descricao}}</small>
                    </td>
                    <td>
                        <small>{{topico.data | date:'dd/MM/yyyy - HH:mm:ss'}}</small>
                    </td>
                    <td>
                        <small>{{getDescricaoStatusTopico(topico.statusTopico)}}</small>
                    </td>
                    <td>
                        <small><a ui-sref="topico.comentarios({id:topico.id})"
                                  ng-show="(['ABERTO','ENCERRADO','ENCERRADO_COM_SUCESSO','ENCERRADO_SEM_SUCESSO'].indexOf(topico.statusTopico) > -1)">Comentários</a>
                        </small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
