<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span class="logo img-responsive img-rounded"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">

                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon-home"></span>
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>

                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-tablet" translate="global.menu.entities.main">Entities</span>
                            <b class="caret"></b>
                        </span>
                    </a>

                    <ul id="entities" class="dropdown-menu">

                        <li ui-sref-active="active" has-any-authority="ROLE_ADMIN,ROLE_ADMIN_CONDOMINIO">
                            <a ui-sref="condominio">
                                <span translate="global.menu.entities.condominio">condominio</span>
                            </a>
                        </li>

                        <li ui-sref-active="active" has-any-authority="ROLE_ADMIN,ROLE_ADMIN_CONDOMINIO">
                            <a ui-sref="funcionario">
                                <span translate="global.menu.entities.funcionario">funcionario</span>
                            </a>
                        </li>

                        <li ui-sref-active="active" has-any-authority="ROLE_ADMIN,ROLE_ADMIN_CONDOMINIO">
                            <a ui-sref="morador">
                                <span translate="global.menu.entities.morador">morador</span>
                            </a>
                        </li>

                        <li ui-sref-active="active"
                            has-any-authority="ROLE_ADMIN,ROLE_ADMIN_CONDOMINIO,ROLE_FUNCIONARIO,ROLE_MORADOR">
                            <a ui-sref="prestadorServico">
                                <span translate="global.menu.entities.prestadorServico">prestadorServico</span>
                            </a>
                        </li>

                        <li ui-sref-active="active"
                            has-any-authority="ROLE_ADMIN,ROLE_ADMIN_CONDOMINIO,ROLE_FUNCIONARIO,ROLE_MORADOR">
                            <a ui-sref="competenciaPrestador">
                                <span>Competências (P. Serviço)</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-bookmark"></span>
                            <span class="hidden-tablet">
                                Forum
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul id="forum" class="dropdown-menu">
                        <li ui-sref-active="active"
                            has-any-authority="ROLE_ADMIN,ROLE_ADMIN_CONDOMINIO,ROLE_ADMIN_CONDOMINIO">
                            <a ui-sref="assunto">
                                <span translate="global.menu.entities.assunto">assuntos</span>
                            </a>
                        </li>
                        <li ui-sref-active="active"
                            has-any-authority="ROLE_ADMIN,ROLE_ADMIN_CONDOMINIO">
                            <a ui-sref="categoria">
                                <span>Categorias</span>
                            </a>
                        </li>
                        <li ui-sref-active="active"
                            has-any-authority="ROLE_ADMIN,ROLE_ADMIN_CONDOMINIO,ROLE_FUNCIONARIO,ROLE_MORADOR">
                            <a ui-sref="topico">
                                <span translate="global.menu.entities.topico">topicos</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-tablet" translate="global.menu.account.main">Account</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span
                            class="glyphicon glyphicon-wrench"></span>
                            <span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span
                            class="glyphicon glyphicon-lock"></span>
                            <span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span
                            class="glyphicon glyphicon-log-in"></span>
                            <span translate="global.menu.account.login">Authenticate</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span
                            class="glyphicon glyphicon-plus-sign"></span>
                            <span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>

                <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span
                    class="glyphicon glyphicon-log-out"></span>
                    <span translate="global.menu.account.logout">Log out</span></a></li>

            </ul>
        </div>
    </div>
</nav>
