
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPrestadorServicoLabel" translate="tmcApp.prestadorServico.home.createOrEditLabel">Create or edit a PrestadorServico</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="prestadorServico.id" readonly>
        </div>
        <div class="form-group">
            <label translate="tmcApp.prestadorServico.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="prestadorServico.nome"
                    required>
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.prestadorServico.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="prestadorServico.email"
                    ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$/">
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                    This field should follow pattern "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.prestadorServico.telefone" for="field_telefone">Telefone</label>
            <input type="number" class="form-control" name="telefone" id="field_telefone"
                    ng-model="prestadorServico.telefone"
                    >
        </div>
        <div class="form-group">
            <label translate="tmcApp.prestadorServico.documento" for="field_documento">Documento</label>
            <input type="text" class="form-control" name="documento" id="field_documento"
                    ng-model="prestadorServico.documento"
                    required ng-pattern="/([0-9]{3}[.]?[0-9]{3}[.]?[0-9]{3}[-]?[0-9]{2})|([0-9]{2}[.]?[0-9]{3}[.]?[0-9]{3}[/]?[0-9]{4}[-]?[0-9]{2})/">
            <div ng-show="editForm.documento.$invalid">
                <p class="help-block"
                    ng-show="editForm.documento.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.documento.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="([0-9]{3}[.]?[0-9]{3}[.]?[0-9]{3}[-]?[0-9]{2})|([0-9]{2}[.]?[0-9]{3}[.]?[0-9]{3}[/]?[0-9]{4}[-]?[0-9]{2})">
                    This field should follow pattern "([0-9]{3}[.]?[0-9]{3}[.]?[0-9]{3}[-]?[0-9]{2})|([0-9]{2}[.]?[0-9]{3}[.]?[0-9]{3}[/]?[0-9]{4}[-]?[0-9]{2})".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="tmcApp.prestadorServico.pessoa" for="field_pessoa">Pessoa</label>
            <select class="form-control" name="pessoa" ng-model="prestadorServico.pessoa" id="field_pessoa">
                <option value="FISICA" translate="tmcApp.Pessoa.FISICA">FISICA</option>
                <option value="JURIDICA" translate="tmcApp.Pessoa.JURIDICA">JURIDICA</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="tmcApp.prestadorServico.cep" for="field_cep">cep</label>
            <select class="form-control" id="field_cep" name="cep" ng-model="prestadorServico.cep" ng-options="cep as cep.id for cep in ceps | orderBy:'id' track by cep.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
