<div>
    <h2 translate="tmcApp.prestadorServico.home.title">PrestadorServicos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="prestadorServico.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="tmcApp.prestadorServico.home.createLabel">Create a new PrestadorServico</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePrestadorServicoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(prestadorServico.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="tmcApp.prestadorServico.delete.question" translate-values="{id: '{{prestadorServico.id}}'}">Are you sure you want to delete this PrestadorServico?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="tmcApp.prestadorServico.nome">Nome</th>
                    <th translate="tmcApp.prestadorServico.email">Email</th>
                    <th translate="tmcApp.prestadorServico.documento">Documento</th>
                    <th translate="tmcApp.prestadorServico.pessoa">Pessoa</th>
                    <th translate="tmcApp.prestadorServico.cep">cep</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prestadorServico in prestadorServicos">
                    <td><a ui-sref="prestadorServico.detail({id:prestadorServico.id})">{{prestadorServico.id}}</a></td>
                    <td>{{prestadorServico.nome}}</td>
                    <td>{{prestadorServico.email}}</td>
                    <td>{{prestadorServico.documento}}</td>
                    <td translate="{{'tmcApp.Pessoa.' + prestadorServico.pessoa}}">{{prestadorServico.pessoa}}</td>
                    <td>
                        <a ui-sref="cep.detail({id:prestadorServico.cep.id})">{{prestadorServico.cep.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="prestadorServico.detail({id:prestadorServico.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="prestadorServico.edit({id:prestadorServico.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(prestadorServico.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
