<div>
    <h2>Busca de Prestadores de Serviço</h2>

    <jh-alert></jh-alert>

	<div class="input-group" >
        <span class="input-group-addon" id="basic-addon1"><spam class="glyphicon glyphicon-search"></spam></span>
        <input type="search" class="form-control" id="search" placeholder="Parâmetros da busca" ng-model="searchText">
	</div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Prestador</th>
                <th>Competências</th>
                <th>Nota</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="avaliacao in avaliacoes | filter:searchText">

                <td>
                    <a ui-sref="prestadorServico.detail({id:avaliacao.prestador.id})">{{avaliacao.prestador.nome}}</a>
                </td>
                <td>
                    <div ng-repeat="competencia in avaliacao.competencias">
                        <span class="form-control-static">{{competencia.descricao}}</span>
                    </div>
                </td>
                <td>
                    <div ng-repeat="competencia in avaliacao.competencias">
                        <rating ng-model="competencia.avaliacao.nota" max="max" readonly="true"
                                on-hover="hoveringOver(value)"
                                on-leave="overStar = null" aria-labelledby="default-rating"/>

                        <a ng-show="(usuarioCorrenteEhMorador) && (competencia.avaliacao.isExistByDateAndMorador.id == null)"
                           ui-sref="avaliaCompetencia.edit({idPrestador:avaliacao.prestador.id,idCompetencia:competencia.id})">
                            Avaliar</a>

                        <a ui-sref="avaliaCompetencia.detail({idPrestador:avaliacao.prestador.id,idCompetencia:competencia.id})">
                            Detalhes</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
