<div>
    <h2 translate="tmcApp.avaliaCompetencia.home.title">AvaliaCompetencias</h2>

    <jh-alert></jh-alert>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Prestador</th>
                <th>Competências</th>
                <th>Nota</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="avaliacao in avaliacoes">

                <td>
                    <a ui-sref="prestadorServico.detail({id:avaliacao.prestador.id})">{{avaliacao.prestador.nome}}</a>
                </td>

                <td>
                    <div ng-repeat="competencia in avaliacao.competencias">
                        <span class="form-control-static">{{competencia.descricao}}</span>
                    </div>
                </td>

                <td>
                    <div ng-repeat="competencia in avaliacao.competencias">
                        <rating ng-model="competencia.nota" max="max" readonly="isReadonly" on-hover="hoveringOver(value)"
                                on-leave="overStar = null" aria-labelledby="default-rating"/>
                    </div>
                </td>

                <td>
                    <button type="submit"
                            ui-sref="avaliaCompetencia.edit({id:avaliaCompetencia.id})"
                            class="btn btn-primary btn-sm"
                            ng-click="onRatingReadOnly()">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Avaliar</span>
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
