<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCepLabel" translate="tmcApp.cep.home.createOrEditLabel">Create or edit a Cep</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="cep.id" readonly>
        </div>
        <div class="form-group">
            <label translate="tmcApp.cep.logradouro" for="field_logradouro">Logradouro</label>
            <input type="text" class="form-control" name="logradouro" id="field_logradouro"
                   ng-model="cep.logradouro"
            >
        </div>
        <div class="form-group">
            <label translate="tmcApp.cep.bairro" for="field_bairro">Bairro</label>
            <input type="text" class="form-control" name="bairro" id="field_bairro"
                   ng-model="cep.bairro"
            >
        </div>
        <div class="form-group">
            <label translate="tmcApp.cep.cidade" for="field_cidade">Cidade</label>
            <input type="text" class="form-control" name="cidade" id="field_cidade"
                   ng-model="cep.cidade"
            >
        </div>
        <div class="form-group">
            <label translate="tmcApp.cep.uf" for="field_uf">Uf</label>
            <select class="form-control" name="uf" ng-model="cep.uf" id="field_uf">
                <option value="AC" translate="tmcApp.Uf.AC">AC</option>
                <option value="AL" translate="tmcApp.Uf.AL">AL</option>
                <option value="AM" translate="tmcApp.Uf.AM">AM</option>
                <option value="AP" translate="tmcApp.Uf.AP">AP</option>
                <option value="BA" translate="tmcApp.Uf.BA">BA</option>
                <option value="CE" translate="tmcApp.Uf.CE">CE</option>
                <option value="DF" translate="tmcApp.Uf.DF">DF</option>
                <option value="ES" translate="tmcApp.Uf.ES">ES</option>
                <option value="GO" translate="tmcApp.Uf.GO">GO</option>
                <option value="MA" translate="tmcApp.Uf.MA">MA</option>
                <option value="MG" translate="tmcApp.Uf.MG">MG</option>
                <option value="MT" translate="tmcApp.Uf.MT">MT</option>
                <option value="MS" translate="tmcApp.Uf.MS">MS</option>
                <option value="PA" translate="tmcApp.Uf.PA">PA</option>
                <option value="PB" translate="tmcApp.Uf.PB">PB</option>
                <option value="PE" translate="tmcApp.Uf.PE">PE</option>
                <option value="PI" translate="tmcApp.Uf.PI">PI</option>
                <option value="PR" translate="tmcApp.Uf.PR">PR</option>
                <option value="RJ" translate="tmcApp.Uf.RJ">RJ</option>
                <option value="RN" translate="tmcApp.Uf.RN">RN</option>
                <option value="RO" translate="tmcApp.Uf.RO">RO</option>
                <option value="RR" translate="tmcApp.Uf.RR">RR</option>
                <option value="RS" translate="tmcApp.Uf.RS">RS</option>
                <option value="SC" translate="tmcApp.Uf.SC">SC</option>
                <option value="SE" translate="tmcApp.Uf.SE">SE</option>
                <option value="SP" translate="tmcApp.Uf.SP">SP</option>
                <option value="TO" translate="tmcApp.Uf.TO">TO</option>
            </select>
        </div>
        <div class="form-group">
            <label translate="tmcApp.cep.cep" for="field_cep">Cep</label>
            <input type="number" class="form-control" name="cep" id="field_cep"
                   ng-model="cep.cep"
                   required>
            <div ng-show="editForm.cep.$invalid">
                <p class="help-block"
                   ng-show="editForm.cep.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.cep.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
